.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #2D314D;
}

.footer-wrapper__logo {
  display: inline-block;
}

.footer-wrapper__img {
  display: block;
  width: 139px;
  height: 20px;
}
