// INTRO SECTION
.intro-section {
  background-color: #F2F2F2;
  height: 610px;
  position: relative;
  z-index: 1;
}

.intro__content {
  width: 447px;
  margin-bottom: 170px;
  transform: translateY(-60px);
}

.intro__title {
  margin: 0;
  font-weight: 100;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  color: $color-text-dark;
}



.intro__text {
  margin-top: 24px;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: $color-text;
}

.intro-section__container {
  display: flex;
  align-items: center;
}
.intro__content__right{
  width: 320px;
}
.intro__content__right {
  background-image: url(/images/hero-phones-desktop.png), url(/images/hero-bg-desktop.png);
  background-size: cover;
  width: 810px;
  height: 920px;
  transform: translate(150px, -50px);
  background-repeat: no-repeat;
  background-size: 580px 820px,755px 750px;
  background-position: 120px 0px, -55px -20px;
}

